VITE_SUPABASE_URL=https://zdfdqkfzkjgacwbbgxvn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpkZmRxa2Z6a2pnYWN3YmJneHZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTExNTQ3NTUsImV4cCI6MjEwNjczMDc1NX0.TSz4e942NlJAP6vYgC_d_DU1MHer_W4EV9fQD1zlIVU
